<h1>My lists</h1>


<div class="cards">
<% @lists.each do |list| %>
  <div class="card-category" style="background-image: url('<%= list.movies.first ? list.movies.first.poster_url : "" %>')">
    <%= link_to "#{list.name}", list_path(list) %>
  </div>
<% end %>
</div>

<%= link_to "Add a list", new_list_path %>

<%#= list.movies.first.poster_url %>
